.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.citations {
  margin: inherit;
  padding: inherit;
}

.referenceCounter {
  margin: inherit;
  padding: inherit;
}

.biblio {
  margin: 0;
  padding: 0;
  max-width: 40%;
}

.authors {
  margin: 0;
  padding: 0;
}

.year {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
}

.journal {
  font-style: italic;
}

.volume {
  font-style: italic;
}

.issue {
  margin: 0;
  padding: 0;
}

.pages {
  margin: 0;
  padding: 0;
}
