.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

header h4 {
  max-width: 40vw;
}

.citations {
  margin: inherit;
  padding: inherit;
}

.publicationLink {
  margin: inherit;
  padding: inherit;
}

.referenceCounter {
  margin: inherit;
  padding: inherit;
}
