.publications .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.publications .content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
}

.publications header h4 {
    max-width: 40vw;
}

.publications .citations {
    margin: inherit;
    padding: inherit;
}

.publications .publicationLink {
    margin: inherit;
    padding: inherit;
}

.publications .referenceCounter {
    margin: inherit;
    padding: inherit;
}